/* Animaciones -- */

.head-img:hover {
  border: 1.5px outset var(--btn);
  box-shadow: 0 0 20px var(--btn);
}

.animate-ping:before,
.animate-ping:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--btn-play);
  border-radius: 2rem;
  z-index: -1;
  opacity: 0.7;
}

.animate-ping:hover  {
  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  100%{
    transform: scale(2.5);
    opacity: 0;
  }
}

.typing-welcome {
  display: block;
  font-family: monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  width: 14ch;
  animation: typing 3s steps(14); 
  overflow: hidden;
}

.typing-hello {
  display: block;
  font-family: monospace;
  font-size: 1.3rem;
  white-space: nowrap;
  width: 10ch;
  animation: typing 3s steps(10); 
  overflow: hidden;
}

.typing-name {
  display: block;
  font-family: monospace;
  font-size: 1.3rem;
  white-space: nowrap;
  width: 25ch;
  animation: typing 9s steps(25);    
  overflow: hidden;
}

@keyframes typing { 
  from { width: 0 }
}

animate-flash:hover {
  animation: flash 0.6s ease-in-out infinite;
}

.social-img:hover {
  transform: scale(1.1);
}

animate-ping:hover {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-glowBlue:hover {
  animation: glowBlue 1.5s ease-in-out infinite;
}

@keyframes glowBlue {
  0% {
    box-shadow: 0 0 5px #fff;
  }

  50% {
    box-shadow: 0 0 20px #fff, 0 0 21px var(--btn);
  }

  100% {
    box-shadow: 0 0 5px #fff;
  }
}

.hover\:bg-neutral:hover {
  background-color: rgb(64 64 64);
}

.btn:hover {
  transform: scale(1.1);
}

.animate-flash:hover {
  animation: flash 0.6s ease-in-out infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-flipx:hover {
  animation: flipx 0.5s ease-in-out infinite;
}

@keyframes flipx {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.animate-tada:hover {
  animation: tada 0.5s ease-in-out infinite;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animate-spin:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-shake:hover{
  animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-fade-in:hover {
  animation: fadeIn 1.5s ease-out infinite forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-blinkAndBounce {
  animation: blinkAndBounce 4s ease-in-out infinite;
}

@keyframes blinkAndBounce {
  0%, 20%, 40% {
    opacity: 1;
    transform: scale(1);
  }

  10%, 30% {
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(0.95);
  }

  80% {
    transform: scale(1.05);
  }

  90%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bg-zinc-800:hover {
  background-color: rgb(39 39 42);
}